<li id="<%= "to_do_#{to_do.id}"%>" class="list-group-item">
  <%  unless to_do.is_completed %>
    <%= link_to(
      to_do_path(to_do.id, to_do: {is_completed: true}),
      class: "complete_link",
      'data-method': :put
    ) do %>
      <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
    <% end %>
  <% end %>
  <%= to_do.description %>
  <a href="#" class="not_hidden delete_link">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </a>
  <br />
  <span class="hidden">
    Are you sure?
    &nbsp;&nbsp;
    <%= link_to(
      "confirm",
      to_do_path(to_do),
      'data-method': :delete
    )%>
    &nbsp;&nbsp;
    <a class="cancel_deletion_link"
       href="#">cancel</a>
  </span>
</li>

